
body {
  margin: 0% 0% 0% 0%;
}

.header {
  background-color: 00d6dd;
  width:100%;
  height: 30%;
}

//#banner {
//  background-size: cover;
//  text-align: center;
//  height: 30%
//  width: 100%;
//}

#newsTable {
  font-size: 32px;
  font-style: bold;
  color: #00d6dd;
}

#newsTable tbody tr td, #newsTable tbody tr th, #newsTable thead tr th {
  border:none;
}

.bgimage {
background-image: url(images/background.png);
background-size: 100%;
overflow: auto;
}
