<!DOCTYPE html>
<html>
<head>
	<title>Coin Toss</title>
</head>
<body>
<!-- coin toss view -->
<h1>Coin Toss</h1>

<h3>You have tossed a coin<h3>
<h3>It is <%=@coin_result%>!</h3>

<p>Hit refresh to toss again<p>



</body>
</html>
