<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<!-- dice roll view -->
<h1>Dice Roll</h1>

<h3>You have rolled a six-sided die<h3>
<h3>It is a <%=@dice_result%>!</h3>

<p>Hit refresh to roll again<p>

</body>
</html>
