<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<!-- magic 8 ball view -->
<h1>Magic 8 Ball</h1>

<h3>Question Received<h3>
<h3><%=@magic8_result%>!</h3>

<p>Hit refresh to ask again<p>

</body>
</html>
